.section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 2rem 0 2rem;
}

.work{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    gap: 5rem;
    flex-direction: column;
}


@media screen and (max-width:786px){
    .section{
        padding: 5rem 1.5rem 0 1.5rem;
    }

    .work{
        gap: 2rem;
        align-items: flex-start;
    }
    
}